<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<nav th:fragment="header(tabIndex)" class="navbar navbar-light navbar-expand-md py-3" style="background: var(--bs-gray-100);">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
               <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                     <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                     <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                  </svg>
               </span>
      <span th:text="${title}"></span>
    </a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" th:classappend="${tabIndex==1} ? 'active'" href="/water/">Watersports</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${tabIndex==2} ? 'active'" href="/para/">Parasailing</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${tabIndex==3} ? 'active'" href="/ref/">Referee</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${tabIndex==4} ? 'active'" href="/logs/">Logs</a></li>
      </ul>
        <button class="btn btn-primary" type="button" style="background: var(--bs-gray-500);border-color: var(--bs-gray-600);margin-right: 5px;" data-bs-target="#reportModal" data-bs-toggle="modal">
            <i class="fa fa-table" style="color: var(--bs-navbar-brand-color);"></i>&nbsp;
        </button>
        <button class="btn btn-primary" type="button" style="background: var(--bs-gray-500);border-color: var(--bs-gray-600);margin-right: 5px;" data-bs-target="#settingsModal" data-bs-toggle="modal">
            <i class="fa fa-gear" style="color: var(--bs-navbar-brand-color);"></i>&nbsp;
        </button>
        <button class="btn btn-danger" role="button" onclick="confirmLogout()"><i class="fas fa-lock"></i>&nbsp;Logout</button>
    </div>
  </div>
</nav>

<div th:fragment="config" class="modal fade" role="dialog" tabindex="-1" id="settingsModal" style="text-align: right;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: var(--bs-gray-400);">
                <h2 class="modal-title" style="text-align: center;width: 100%;">Settings</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background: var(--bs-gray-200);">
                <form id="formInfo" method="post">

                    <small class="form-text float-start">Enter Name of Company</small>
                    <input class="form-control" type="text" id="title" name="title" th:value="${title}" maxlength="32">

                    <small class="form-text float-start">Header</small>
                    <input class="form-control" type="text" id="header" name="header" th:value="${header}">

                    <small class="form-text float-start">Footer</small>
                    <input class="form-control" type="text" id="footer" name="footer" th:value="${footer}" maxlength="32">

                    <small class="form-text float-start">Contact</small>
                    <input class="form-control" type="text" id="contactNo" name="contact" th:value="${contact}" maxlength="32">

                    <small class="form-text float-start">Address</small>
                    <input class="form-control" type="text" id="address" name="address" th:value="${address}" maxlength="32">

                    <small class="form-text float-start">Printer</small>
                    <input class="form-control" type="text" id="printer" name="printer" th:value="${printer}">

                    <small class="form-text float-start">Receipt Width in mm</small>
                    <input class="form-control" type="text" id="receiptWidth" name="receiptWidth" th:value="${receiptWidth}">

                    <div class="text-center mb-3" style="margin-top: 10px;margin-bottom: 10px;"></div>
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>
                    <div class="d-xl-flex justify-content-xl-center mb-3"><button class="btn btn-light" type="reset" data-bs-dismiss="modal" style="margin-right: 10px;">Clear</button><button class="btn btn-primary" type="submit" id="btnSaveInfo">Save</button></div>
                </form>
                <hr>
                <h4 style="text-align: center;">Change User Login Credentials</h4>
                <form id="formLogin" method="post">
                    <small class="form-text float-start">Enter Current Username</small>
                    <input class="form-control" type="text" id="usernameCur" name="usernameCur">

                    <small class="form-text float-start">Enter Current Password</small>
                    <input class="form-control" type="password" id="passwordCur" name="passwordCur">

                    <small class="form-text float-start">Enter New Username</small>
                    <input class="form-control" type="text" id="usernameNew" name="usernameNew">

                    <small class="form-text float-start">Enter New Password</small>
                    <input class="form-control" type="password" id="passwordNew" name="passwordNew">

                    <div class="text-center mb-3" style="margin-top: 10px;margin-bottom: 10px;"></div>
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>
                    <div class="d-xl-flex justify-content-xl-center mb-3"><button class="btn btn-light" type="reset" data-bs-dismiss="modal" style="margin-right: 10px;">Clear</button><button class="btn btn-primary" type="submit" id="btnSaveLogin">Save</button></div>
                </form>
                <hr>
                <h4 style="text-align: center;">Change Admin Password</h4>
                <form id="formAdminPassword" method="post">

                    <small class="form-text float-start">Enter Current Password</small>
                    <input class="form-control" type="password" id="passwordAdminCur" name="passwordAdminCur">

                    <small class="form-text float-start">Enter New Password</small>
                    <input class="form-control" type="password" id="passwordAdminNew" name="passwordAdminNew">

                    <div class="text-center mb-3" style="margin-top: 10px;margin-bottom: 10px;"></div>
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>
                    <div class="d-xl-flex justify-content-xl-center mb-3"><button class="btn btn-light" type="reset" data-bs-dismiss="modal" style="margin-right: 10px;">Clear</button><button class="btn btn-primary" type="submit" id="btnSaveAdminPassword">Save</button></div>
                </form>
<!--                <h4 style="text-align: center;">Database Backup</h4>-->
<!--                <div class="text-center">-->

<!--                    <form method="post" action="/backup/upload/">-->
<!--                        <input type="file" style="margin-bottom: 10px;" name="file" required>-->
<!--                        <div class="btn-group" role="group">-->
<!--                            <button class="btn btn-primary" type="submit"><i class="fa fa-upload"></i>&nbsp;Upload</button>-->
<!--                            <a class="btn btn-success" role="button" href="/backup/download/"><i class="fa fa-download"></i> Download</a>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

<div th:fragment="report" class="modal fade" role="dialog" tabindex="-1" id="reportModal" style="text-align: right;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: var(--bs-gray-400);">
                <h2 class="modal-title" id="lblOrder" style="text-align: center;width: 100%;">Reports</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background: var(--bs-gray-200);padding-bottom: 0px;">
                <form method="post" action="/report/" target="_blank">
                    <div class="text-center mb-3" style="padding-right: 10px;padding-left: 10px;">
                        <div class="row">
                            <div class="col" style="padding-right: 2px;padding-left: 2px;"><small class="form-text">Date From</small><input class="form-control" type="date" name="dateFrom" required></div>
                            <div class="col" style="padding-left: 2px;padding-right: 2px;"><small class="form-text">Date To</small><input class="form-control" type="date" name="dateTo" required></div>
                            <div class="col" style="padding-left: 2px;padding-right: 2px;"><small class="form-text">Reports</small>
                                <select class="form-select" name="idReport">
                                    <option value="0" selected="">&nbsp;&nbsp;1.Water Sports Summary Day wise</option>
                                    <option value="1">&nbsp;&nbsp;2.Water Sports Summary Month wise</option>
                                    <option value="2">&nbsp;&nbsp;3.Water Sports Summary Year wise</option>
                                    <option value="3">&nbsp;&nbsp;4.Parasailing Summary Day Wise</option>
                                    <option value="4">&nbsp;&nbsp;5.Parasailing Summary Month Wise</option>
                                    <option value="5">&nbsp;&nbsp;6.Parasailing Summary Year Wise</option>
                                    <option value="6">&nbsp;&nbsp;7.Owner Summary</option>
                                    <option value="7">&nbsp;&nbsp;8.Marketer Summary</option>
                                    <option value="8">&nbsp;&nbsp;9.Water Sports Orders</option>
                                    <option value="9">10.Water Sports Order Details</option>
                                    <option value="10">11.Parasailing Orders</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><button class="btn btn-warning" id="btnPrint" type="submit" style="margin-bottom: 10px;"><i class="fa fa-print"></i>&nbsp;Print</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>