<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Para Sailing</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-icons.css">
    <script src="/assets/js/axios.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/sweetalert.js"></script>
    <script src="/assets/js/utils.js"></script>

    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    <script src="/assets/js/select2.min.js"></script>

    <script th:inline="javascript">

    window.onload = function ()
    {
        var msg = [[${msg}]]

        console.log("msg = " + msg);

        if(msg != null)
        {
            if(msg.includes('success'))
            {
                Swal.fire('Done!', msg, 'success');
            }
            else if(msg.includes('expire'))
            {
                Swal.fire('Warning', msg, 'warning');
            }
            else
            {
                Swal.fire('Oops!', msg, 'error');
            }
        }

        $('#idRef').select2({placeholder: "Select Referee", allowClear: true, dropdownParent: $('#modalAddNewItem'), width:'100%'});
    }

    </script>

</head>
<body style="background: var(--bs-gray-200);">

<!--Header-->
<div th:replace="fragments.html :: header(tabIndex=2)"></div>

<div class="card" style="margin: 10px;padding: 10px;">
    <div class="card-body" style="padding: 0px;">
        <div class="container">
            <div class="row">
                <form method="post" action="/para/find/">
                <div class="col-md-12">
                    <button class="btn btn-success" type="button" style="padding: 5px 11px;" data-bs-target="#modalAddNewItem" data-bs-toggle="modal"><i class="fas fa-plus"></i> New</button>

                            <small class="form-text">&nbsp; Show Report From&nbsp;</small>
                            <input type="date" name="dateFrom" th:value="${dateFrom}" required>

                            <small class="form-text">&nbsp;To&nbsp;</small>
                            <input type="date" name="dateTo" th:value="${dateTo}" required>

                            <button class="btn btn-primary" type="submit" style="margin-left: 10px;margin-right: 10px;"><i class="fas fa-search"></i>&nbsp;Search</button>

                    <small class="form-text">&nbsp;Filter By Keyword&nbsp;&nbsp;</small><input type="search" id="filter" name="filter" style="margin-right: 10px;">

                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin: 10px;">
    <div class="card-body" style="padding: 0px;box-shadow: -4px 4px 3px 0px var(--bs-gray-500);">
        <div class="table-responsive">
            <table class="table" id="tbl">
                <thead>
                <tr>
                    <th style="background: var(--bs-blue);text-align: center;color: var(--bs-card-bg);">Bill No</th>
                    <th style="background: var(--bs-blue);text-align: center;color: var(--bs-card-bg);">Sr No</th>
                    <th style="background: var(--bs-blue);text-align: center;color: var(--bs-card-bg);">Date</th>
                    <th style="background: var(--bs-blue);text-align: center;color: var(--bs-card-bg);">Big Round</th>
                    <th style="background: var(--bs-blue);text-align: left;color: var(--bs-card-bg);">Owner</th>
                    <th style="background: var(--bs-blue);text-align: left;color: var(--bs-card-bg);">Marketer</th>
                    <th style="background: var(--bs-blue);text-align: center;color: var(--bs-card-bg);">Rcpt No</th>
                    <th style="background: var(--bs-blue);text-align: left;color: var(--bs-card-bg);">Customer Name</th>
                    <th style="background: var(--bs-blue);text-align: right;color: var(--bs-card-bg);">Qty</th>
                    <th style="background: var(--bs-blue);text-align: right;color: var(--bs-card-bg);">Rate</th>
                    <th style="background: var(--bs-blue);text-align: right;color: var(--bs-card-bg);">Amount</th>
                    <th style="background: var(--bs-blue);text-align: center;color: var(--bs-card-bg);">Payment</th>
                    <th style="background: var(--bs-blue);text-align: center;color: var(--bs-card-bg);">Action</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="order : ${list}">

                    <td style="text-align: right;padding: 4px;" th:text="${order.billNo}">1</td>
                    <td style="text-align: right;padding: 4px;" th:text="${order.serialNo}">1</td>
                    <td style="text-align: center;padding: 4px;" th:text="${#temporals.format(order.date, 'dd-MM-yyyy')}">date</td>
                    <td style="text-align: center;padding: 4px;" th:text="${order.isBigRound}?'Big Round'"> Big </td>
                    <td style="text-align: left;padding: 4px;" th:text="${repoRef.getReferenceById(repoRef.getReferenceById(order.idRef).idOwner).name}">Akshay Parulekar</td>
                    <td style="text-align: left;padding: 4px;" th:text="${repoRef.getReferenceById(order.idRef).name}">Akshay Parulekar</td>
                    <td style="text-align: right;padding: 4px;" th:text="${order.receiptNo}">1</td>
                    <td style="text-align: left;padding: 4px;" th:text="${order.customerName}">Akshay Parulekar</td>
                    <td style="text-align: right;padding: 4px;" th:text="${order.nPerson}">1</td>
                    <td style="text-align: right;padding: 4px;" th:text="${order.rate}">1</td>
                    <td style="text-align: right;padding: 4px;" th:text="${order.nPerson * order.rate}">1</td>
                    <td style="text-align: left;left: 4px;">
                        <input type="checkbox" th:id="${'chkPayment' + order.billNo}" style="transform: scale(1.40);" th:onchange="|document.location.href='/para/paid/${order.billNo}/' + this.checked + '/'|" th:checked="${order.paid}">
                        <label th:styleappend="${order.paid}?'color:green':'color:red'" th:text="${order.paid}?'&nbsp;paid':'&nbsp;pending'" class="form-check-label" th:for="${'chkPayment' + order.billNo}">
                            paid
                        </label>
                    </td>

                    <td style="text-align: center;padding: 4px;">
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning" id="btnPrint" type="button" style="color: var(--bs-gray-200);" th:onClick="printPos([[${order.id}]], 0)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" style="color: var(--bs-btn-hover-color);">
                                    <path d="M448 192H64C28.65 192 0 220.7 0 256v96c0 17.67 14.33 32 32 32h32v96c0 17.67 14.33 32 32 32h320c17.67 0 32-14.33 32-32v-96h32c17.67 0 32-14.33 32-32V256C512 220.7 483.3 192 448 192zM384 448H128v-96h256V448zM432 296c-13.25 0-24-10.75-24-24c0-13.27 10.75-24 24-24s24 10.73 24 24C456 285.3 445.3 296 432 296zM128 64h229.5L384 90.51V160h64V77.25c0-8.484-3.375-16.62-9.375-22.62l-45.25-45.25C387.4 3.375 379.2 0 370.8 0H96C78.34 0 64 14.33 64 32v128h64V64z"></path>
                                </svg>
                            </button>
                            <button class="btn btn-primary" id="btnEdit" type="button" data-bs-target="#modalAddNewItem" data-bs-toggle="modal" th:onClick="showParaData([[${order}]])">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"></path>
                                </svg>
                            </button>
                            <button class="btn btn-danger" role="button" id="btnDelete" style="border-color: var(--bs-pink);" th:onClick="|confirmDelete('/para/delete/${order.id}/')|"><i class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" tabindex="-1" id="modalAddNewItem" style="text-align: right;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: var(--bs-gray-400);">
                <h2 class="modal-title" style="text-align: center;width: 100%;">Order Details</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background: var(--bs-gray-200);">
                <form id="formOrderDet" method="post" action="/para/">
                    <div class="text-center mb-3">

                        <input type="hidden" id="id" name="id">

                        <div class="row">
                            <div class="col" style="min-width: 45%;padding-right: 2px;padding-left: 13px;">
                                <select id="idRef" class="js-example-basic-single" name="idRef" required="true" title="Please Select Referee">
                                    <option> </option>
                                    <option th:each="ref : ${listRef}" th:value="${ref.id}" th:text="${ref.idOwner == ref.id} ? ${ref.name} : ${ref.name + ' / ' + repoRef.getReferenceById(ref.idOwner).name}"></option>
                                </select>
                            </div>

                            <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" style="max-width: 20px;" title="Paid">
                                <input type="checkbox" id="paid" name="paid" style="transform: scale(1.40);">
                            </div>

                            <div class="col"  style="padding-left: 2px;padding-right: 2px;">
                                <input class="form-control" type="text" id="receiptNo" placeholder="Receipt No" name="receiptNo">
                            </div>

                            <div class="col"  style="padding-left: 2px;padding-right: 2px;">
                                <input class="form-control" type="text" id="serialNo" placeholder="Serial No" name="serialNo" required="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-right: 2px;min-width: 45%;"><input id="customer" class="form-control" type="text" placeholder="Name of Customer" name="customerName" required /></div>
                            <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" style="max-width: 20px;" title="Big Round">
                                <input type="checkbox" id="bigRound" name="bigRound" style="transform: scale(1.40);">
                            </div>
                            <div class="col" style="padding-left: 2px;padding-right: 2px;min-width: 15%;"><input id="rate" class="form-control" type="number" placeholder="Rate" name="rate" min="0" required=""></div>
                            <div class="col" style="padding-left: 2px;padding-right: 2px;min-width: 15%;"><input id="nPerson" class="form-control" type="number" placeholder="Persons" name="nPerson" value="1" min="1" required=""></div>
                        </div>

                    </div>
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>
                    <div class="d-xl-flex justify-content-xl-center mb-3"><button class="btn btn-light" type="reset" style="margin-right: 10px;">Clear</button><button class="btn btn-primary" type="submit">Save</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Setting Modal -->
<div th:replace="fragments.html :: config"></div>

<!-- Report Modal -->
<div th:replace="fragments.html :: report"></div>

<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>