<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <script src="/assets/js/jquery.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
      function displaySum(index, targetID)
        {
            // Calculate and show total amount
            let sum = 0;

            $('#tbl tr').each(function() {
              let value = parseFloat($(this).find('td:nth-child(' + index + ')').text().replace(',',''));
              if (!isNaN(value)) {
                sum += value;
              }
            });

            if(index == 9)
            {
                $(targetID).text(sum.toLocaleString('en-IN', { style: 'currency', currency: 'INR', minimumFractionDigits: 0, maximumFractionDigits: 0 }));
            }
            else
            {
                $(targetID).text(sum);
            }
        }

      $(document).ready(function() {
        displaySum(7, '#totalE');
        displaySum(8, '#totalP');
        displaySum(9, '#total');
        makeZerosGray('tbl');
      });
    </script>

    <style>
        h1, h2, h3, h4, h5, h6
        {
            text-align:center;
            margin-top: 0;
            margin-bottom: 0.25em;
        }
    </style>

</head>
<body>
<h2 th:text="${title}">  </h2>

<h2 th:if="${idReport == 8}"> WATERSPORTS ORDER REPORT </h2>
<h2 th:if="${idReport == 10}"> PARASAILING ORDER REPORT </h2>

<h4 th:text="|From ${#temporals.format(dateFrom, 'dd-MM-yyyy')} To ${#temporals.format(dateTo, 'dd-MM-yyyy')}|"></h4>
<hr>
<div align="center">
    <table id="tbl" border="1" style="border-collapse: collapse;" cellpadding="5">
        <tr>
            <th>Bill No</th>
            <th>Date</th>
            <th>Owner</th>
            <th>Marketer</th>
            <th>Rcpt No</th>
            <th>Customer Name</th>
            <th th:if="${idReport == 8}">All Rides</th>
            <th th:if="${idReport == 8}">Extra Ride</th>
            <th th:if="${idReport == 10}">Qty</th>
            <th th:if="${idReport == 10}">Rate</th>
            <th>Amount</th>
            <th>Payment</th>
        </tr>

        <tr th:each="order : ${list}">
            <td align="right" th:text="${order.billNo}">1</td>
            <td th:text="${#temporals.format(order.date, 'dd-MM-yyyy hh:mm a')}">date</td>
            <td th:text="${repoRef.getReferenceById(repoRef.getReferenceById(order.idRef).idOwner).name}">Akshay Parulekar</td>
            <td th:text="${repoRef.getReferenceById(order.idRef).name}">Akshay Parulekar</td>
            <td align="right" th:text="${order.receiptNo}">1</td>
            <td th:text="${order.customerName}">Akshay Parulekar</td>

            <td align="right" th:if="${idReport == 8}" th:text="${repoWS.getQtyAllRides(order.billNo)}">1</td>
            <td align="right" th:if="${idReport == 8}" th:text="${repoWS.getQtyExtraRides(order.billNo)}">1</td>
            <td align="right" th:if="${idReport == 8}" th:text="${repoWS.getAmount(order.billNo)}">1</td>

            <td align="right" th:if="${idReport == 10}" style="text-align: right;padding: 4px;" th:text="${order.nPerson}">1</td>
            <td align="right" th:if="${idReport == 10}" style="text-align: right;padding: 4px;" th:text="${#numbers.formatDecimal(order.rate, 1, 0)}">1</td>
            <td align="right" th:if="${idReport == 10}" style="text-align: right;padding: 4px;" th:text="${#numbers.formatDecimal(order.nPerson * order.rate, 1, 0)}">1</td>

            <td align="center" th:text="${order.paid}?'&nbsp;paid':'&nbsp;pending'">1</td>
        </tr>

        <tr>
            <th colspan="6" align="right"> Total </th>
            <th align="right" id="totalE"> </th>
            <th align="right" id="totalP"> </th>
            <th align="right" id="total"> </th>
            <th> </th>
        </tr>
    </table>
</div>
<br><br><br><br><br>
<h4>Authorized Signature & Stamp</h4>
</body>
</html>