<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <script src="/assets/js/jquery.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
      $(document).ready(function() {
        let sum = 0;
        var idReport = [[${idReport}]];
        var indexAmt = 2;

        $('#tbl tr').each(function() {
          let value = parseFloat($(this).find('td:nth-child(' + indexAmt + ')').text().replace(',',''));
          if (!isNaN(value)) {
            sum += value;
          }
        });

        $('#total').text(sum.toLocaleString('en-IN', { style: 'currency', currency: 'INR', minimumFractionDigits: 0, maximumFractionDigits: 0 }));
      });
    </script>

    <style>
        h1, h2, h3, h4, h5, h6
        {
            text-align:center;
            margin-top: 0;
            margin-bottom: 0.25em;
        }
    </style>

</head>
<body>
<h2 th:text="${title}">  </h2>

<h2 th:if="${idReport == 0}"> WATER SPORTS DAY-WISE SUMMARY REPORT </h2>
<h2 th:if="${idReport == 1}"> WATER SPORTS MONTH-WISE SUMMARY REPORT </h2>
<h2 th:if="${idReport == 2}"> WATER SPORTS YEAR-WISE SUMMARY REPORT </h2>

<h2 th:if="${idReport == 3}"> PARASAILING DAY-WISE SUMMARY REPORT </h2>
<h2 th:if="${idReport == 4}"> PARASAILING MONTH-WISE SUMMARY REPORT </h2>
<h2 th:if="${idReport == 5}"> PARASAILING YEAR-WISE SUMMARY REPORT </h2>

<h4 th:text="|From ${#temporals.format(dateFrom, 'dd-MM-yyyy')} To ${#temporals.format(dateTo, 'dd-MM-yyyy')}|"></h4>
<hr>
<div align="center">
    <table id="tbl" border="1" style="border-collapse: collapse;" cellpadding="5">
        <tr>
            <th th:if="${idReport == 0 || idReport == 3}"> DAY </th>
            <th th:if="${idReport == 1 || idReport == 4}"> MONTH </th>
            <th th:if="${idReport == 2 || idReport == 5}"> YEAR </th>
            <th> AMOUNT </th>
        </tr>

        <tr th:each="report : ${list}">
            <td align="right" th:if="${idReport == 0 || idReport == 3}" th:text="|${report.day}-${arrayMonth[report.month-1]}-${report.year}|"></td>
            <td align="right" th:if="${idReport == 1 || idReport == 4}" th:text="|${arrayMonth[report.month-1]}-${report.year}|"></td>
            <td align="right" th:if="${idReport == 2 || idReport == 5}" th:text="${report.year}"></td>

            <td align="right" th:text="${#numbers.formatDecimal(report.rate, 0, 'COMMA', 0, 'POINT')}"></td>
        </tr>

        <tr>
            <th align="right"> Total </th>
            <th align="right" id="total"> </th>
        </tr>
    </table>
</div>
<br><br><br><br><br>
<h4>Authorized Signature & Stamp</h4>
</body>
</html>