<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/utils.js"></script>
    <script src="/assets/js/axios.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        var sumWs = 0;
        var sumPs = 0;

        function displaySum(tblID, index, targetID)
        {
            // Calculate and show total amount
            let sum = 0;

            $('#' + tblID + ' tr').each(function() {
              let value = parseFloat($(this).find('td:nth-child(' + index + ')').text().replace(',',''));
              if (!isNaN(value)) {
                sum += value;
              }
            });

            if((index == 7 && tblID === 'tblWs') || (index == 6 && tblID === 'tblPs'))
            {
                $(targetID).text(sum.toLocaleString('en-IN', { style: 'currency', currency: 'INR', minimumFractionDigits: 0, maximumFractionDigits: 0 }));

                if(tblID === 'tblWs')
                {
                    sumWs = sum;
                }
                else if(tblID === 'tblPs')
                {
                    sumPs = sum;
                }
            }
        }

      $(document).ready(function() {
        displaySum('tblWs', 5, '#totalA');
        displaySum('tblWs', 6, '#totalE');
        displaySum('tblWs', 7, '#totalWs');
        displaySum('tblPs', 5, '#totalP');
        displaySum('tblPs', 6, '#totalPs');

        $('#ttlWs').text($('#totalWs').text());
        $('#ttlPs').text($('#totalPs').text());

        var gTotal = sumWs + sumPs;
        $('#ttlGrand').text(gTotal.toLocaleString('en-IN', { style: 'currency', currency: 'INR', minimumFractionDigits: 0, maximumFractionDigits: 0 }));

      });
    </script>

    <style>
        h1, h2, h3, h4, h5, h6
        {
            text-align:center;
            margin-top: 0;
            margin-bottom: 0.25em;
        }
    </style>

</head>
<body>
<h2 th:text="${title}">  </h2>

<h2> ORDER SUMMARY </h2>
<h3 th:text="|From ${#temporals.format(dateFrom, 'dd-MM-yyyy')} To ${#temporals.format(dateTo, 'dd-MM-yyyy')}|"></h3>

<h3 th:text="${repoRef.getReferenceById(idOwner).name}"></h3>
<hr>
<h3> WATER SPORTS </h3>

<div align="center">
    <table id="tblWs" border="1" style="border-collapse: collapse;" cellpadding="5">
        <tr>
<!--            <th>Bill No</th>-->
<!--            <th>Sr.No</th>-->
            <th>Date</th>
            <th>Customer</th>
            <th>Marketer</th>
            <th>Rcpt.No</th>
            <th>All Qty</th>
            <th>Extra Qty</th>
            <th>Amount</th>
        </tr>

        <tr th:each="order : ${listOrderWs}">
<!--            <td align="right" th:text="${order.billNo}">1</td>-->
<!--            <td align="right" th:text="${order.serialNo}">1</td>-->
            <td th:text="${#temporals.format(order.date, 'dd-MM-yyyy')}">date</td>
            <td th:text="${order.customerName}">Akshay Parulekar</td>
            <td th:text="${repoRef.getReferenceById(order.idRef).name}">Akshay Parulekar</td>
            <td align="right" th:text="${order.receiptNo}">1</td>

            <td align="right" th:text="${repoWS.getQtyAllRides(order.billNo)}">1</td>
            <td align="right" th:text="${repoWS.getQtyExtraRides(order.billNo)}">1</td>
<!--            <td style="text-align: right;padding: 4px;" th:text="${order.nPerson * order.rate}">1</td>-->
            <td align="right" th:text="${repoWS.getAmount(order.billNo)}">1</td>
        </tr>

        <tr>
            <th colspan="4" align="right"> Total </th>
            <th align="right" id="totalA"> </th>
            <th align="right" id="totalE"> </th>
            <th align="right" id="totalWs"> </th>
        </tr>

    </table>
    <br>
    <h3> PARASAILING </h3>
    <table id="tblPs" border="1" style="border-collapse: collapse;" cellpadding="5">

        <tr>
            <!--            <th>Bill No</th>-->
            <!--            <th>Sr.No</th>-->
            <th>Date</th>
            <th>Customer</th>
            <th>Marketer</th>
            <th>Rcpt.No</th>
            <th>Qty</th>
            <th>Amount</th>
        </tr>
            <tr th:each="order : ${listOrderPs}">
    <!--            <td align="right" th:text="${order.billNo}">1</td>-->
    <!--            <td align="right" th:text="${order.serialNo}">1</td>-->
                <td th:text="${#temporals.format(order.date, 'dd-MM-yyyy')}">date</td>
                <td th:text="${order.customerName}">Akshay Parulekar</td>
                <td th:text="${repoRef.getReferenceById(order.idRef).name}">Akshay Parulekar</td>
                <td align="right" th:text="${order.receiptNo}">1</td>
                <td style="text-align: right;padding: 4px;" th:text="${order.nPerson}">1</td>
                <td style="text-align: right;padding: 4px;" th:text="${#numbers.formatDecimal(order.nPerson * order.rate, 1, 0)}">1</td>
            </tr>

        <tr>
            <th colspan="4" align="right"> Total </th>
            <th align="right" id="totalP"> </th>
            <th align="right" id="totalPs"> </th>
        </tr>

    </table>
    <br>
    <br>
    <table border="1" style="border-collapse: collapse;" cellpadding="5">
        <tr>
            <th>Total WS</th>
            <th>Total PS</th>
            <th>Grand Total</th>
        </tr>
        <tr>
            <td id="ttlWs"></td>
            <td id="ttlPs"></td>
            <th id="ttlGrand"></th>
        </tr>
    </table>


</div>
<!--<br><br><br><br><br>-->
<!--<h4>Authorized Signature & Stamp</h4>-->
</body>
</html>